html,
body {
    height: 100%;
    background-color: rgba(var(--b3f,250,250,250),1);
    font-family: 'Rubik', sans-serif;
    color: #343a40;
}

.custom-tabs a.nav-link {
    text-transform: uppercase;
    border-bottom: 2px solid inherit !important;
    color: #9e9e9e;
}

.custom-tabs a.active {
    border: none;
    border-radius: 0;
    background-color: inherit !important;
    border-bottom: 2px solid #262626 !important;
    color: #262626 !important;
}

.custom-tabs a:hover {
    color: #9e9e9e !important;
}

.btn-danger {
    background-color: inherit !important;
    border: 0;
    color: #c41818 !important;
}

.btn-danger:hover {
    color: #850000 !important;
}

.input-group-text {
    background-color: inherit;
    border-left: none;
}

.input-group input {
    border-right-color: white;
}

.input-group input:focus {
    box-shadow: none;
    outline: none !important;
}

.card-footer {
    background-color: inherit;
}

.sort {
    width: 300px;
}

td {
    vertical-align: middle !important;
}

.subject img {
    width: 40px;
    height: 40px;
}

.btn-accordion:hover {
    color: black;
	cursor: pointer;
}

.btn-action {
    padding: 0;
}

.btn-action:hover {
    text-decoration: none;
}

.btn-action:focus {
    box-shadow: none;
}

.action-icon {
    display: inline-block;
    width: 20px;
    text-align: center;
    font-size: 16px;
}

.btn-success-custom {
    background-color: inherit;
    color: #38c172;
    border: none;
}

.btn-success-custom:hover {
    background-color: inherit;
    color: #1b6e3f;
}
